.DS_Store

# Virtual Env
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Ipython Notebook
.ipynb_checkpoints

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
